body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
}

h1, h2, h3 {
    font-family: sans-serif;
    margin: 0px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1em;
}

i {
    padding-right: 5px;
}

hr {
    border: 0;
    color: black;
    background-color: black;
    height: 1px;
}

.major-rule {
    height: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul > :last-child {
    padding-bottom: 0;
}

li {
    padding-bottom: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

header > div {
    flex: 1;
    max-width: 400px;
    padding: 10px;
    padding-bottom: 0px;
}

.flex-columns {
    display: flex;
    justify-content: center;
}

section {
    max-width: 400px;
    padding: 10px;
    margin: auto;
}

section > :last-child {
    padding-bottom: 0;
}

.sub-section {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.25em;
}

@media (max-width: 600px) {
    .flex-columns {
        display: block;
    }

    header > div {
        margin: auto;
    }
}

