body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
}

h1, h2, h3 {
    font-family: sans-serif;
    margin: 0px;
}

h2 {
    font-size: 2.5em;
    margin: 0px;
}

h3 {
    font-size: 1em;
}

hr {
    border: 0;
    color: black;
    background-color: black;
    height: 1px;
}

.major-rule {
    height: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-bottom: 10px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resume-body {
    display: flex;
    justify-content: center;
}

section {
    max-width: 400px;
    padding: 10px;
}

.sub-section {
    padding-top: 10px;
}